.offer {
    background-color: #fff;
    color: #181818;
    padding: 1rem;
    height: auto;
    border-radius: 5px;
}

.offer:hover {
    border: 1px solid #FF7D19;
}

.car-img {
    width: 100%;
    height: auto;
}

.offer-title {
    font-size: .9em;
    font-weight: 550;
    color: #212a30;
}

.price-block {
    border-top: 1px solid #ebebeb;
    padding: 15px 0 0 0;
}

.offer-price {
    font-size: .7em;
}

.offer-price-figure {
    font-size: 1.2em !important;
    font-weight: 550;
    color: #201E25;
}