header {
    height: 70px;
    background-color: #FFF;
    padding: 0px 8%;
    margin-bottom: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header img {
    width: 100px;
}