footer {
    position: relative;
    height: 70px;
    width: 100%;
    margin-top: 20px;
}

.copyright {
    position: absolute;
    width: 100%;
    color: #000000;
    line-height: 40px;
    font-size: 1em;
    text-align: center;
    bottom: 0;
}