@import url('https://fonts.googleapis.com/css?family=Roboto+Sans');

.app {
    font-family: 'Roboto', sans-serif;
    background: #F5F6FA;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

// create color as variables